.body-container-compras{
    background-color: rgb(105, 104, 104);
    height: 100vh;
    display: flex;
    justify-content: center center;
    align-items: center;
    .ventana-compra{
        background-color: rgb(253, 223, 91);
        padding: 2rem;
        border-radius: 1rem;

        header{
            h1{
                font-weight: bolder;
                color:  rgb(105, 104, 104);
            }
            border-bottom: 1px solid black;
        }
        .body-finalizar-compra{
            margin-block: 1rem;
            padding: 1rem;
            background-color: rgb(224, 230, 228);
            padding-block: 10rem;
            border-radius: 1rem;

        }
        footer{
            padding: 1rem;
            background-color: rgb(224, 230, 228);            border-bottom: 1px solid black;
            display: flex;
            justify-content: flex-end;
            border: 0px;
            border-radius: 1rem;
            button{
                padding: 1rem;
                background-color: rgb(105, 104, 104);
                font-size: 1.5rem;
                font-weight: bolder;
                color: rgb(253, 223, 91);
                border: 0px;
                border-radius: 1rem;
                a{
                    text-decoration: none;
                    font-weight: bolder;
                    font-size: 2rem;
                    color: rgb(253, 223, 91);
                }
                
                &:hover{
                    background-color: rgb(54, 145, 54);
                    a{
                        font-size: 2rem;
                        font-weight: bolder;
                        color: white;
                    }
                }
            }
        }
        
    }
}